public/libudis86/* linguist-vendored
public/lzma/* linguist-vendored
public/minz/* linguist-vendored
public/url_fopen/* linguist-vendored
srcds-updater/macos/Frameworks/SparkleCore.framework/* linguist-vendored
